* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}
@font-face {
    font-family: Roboto Bold;
    src: url(Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto BoldItalic;
    src: url(Roboto-BoldItalic.ttf);
}

.titulo {
    font: 20px 'Roboto Bold';
}

#mensagem {
    font: 15px 'Roboto BoldItalic';
}

.caixa {
    font: 15px 'Roboto Bold';

}

.container {
    padding: 250px;
    align-items: center;
    text-align: center;


}
input {
    border: 3px solid purple;
}